@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Jost:ital,wght@0,300;0,400;0,500;1,300&family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap");

@import "tailwindcss";

@theme {
	--font-display: "Archivo Black", sans-serif;
	--font-serif: "DM Serif Display", serif;
	--font-body: "Jost", sans-serif;
}
